@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DINPro";
    src: url("/src/mint/fonts/DINPro.ttf")
}


html body {
    font-family: "PT Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    font-size: 16px;
}

.f-dinpro {
    font-family: "DINPro", "PT Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

header {
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 2;
}

header .link {
    margin-right: 30px;
    border-bottom: 1px solid currentColor;
}

header .link:hover {
    color: #999;
}

.logo {
  background: url(./assets/logo-torn.png) no-repeat center;
  background-size: contain;
  width: 200px;
  height: 66px;
  filter: drop-shadow(5px 5px 5px rgba(255,255,255,.6));
}

.header-actions {
    display: flex;
    align-items: center;
}

.header-actions .link-apenft {
    width: 80px;
    margin-right: 25px;
}

.video {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.main {
    width: 100vw;
    min-height: 100vh;
    padding-top: 200px;
    position: relative;
    z-index: 9999;
    padding-bottom: 190px;
}

.partner {
    background-color: #fff;
    padding: 25px 0;
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.partner h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
}

.partner .partner-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 0 20px;
    margin: 0 auto;
}

.link-tron,
.link-apenft {
    width: 125px;
    height: 50px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}

.link-tron {
    background-image: url(./assets/tronlogo.png);
    background-size: 168px 74px;
}

.link-apenft {
    background-image: url(./assets/ape.png);
}




.connect-button {
    margin-left: 10px;
}

@media only screen and (max-width: 800px)  {
    header {
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        text-align: center;
        position: static;
    }

    .logo {
        margin: 0 auto;
    }

    .header-actions {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .header-actions .link,
    .header-actions .link-apenft {
        margin-right: 0;
    }

    .header-actions button {
        font-size: 10px;
        height: 40px;
    }

    .nav-item {
        width: 80px;
        height: 44px;
        line-height: 44px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .main {
        padding-top: 0;
    }
}


